{% extends "WalvaNatagoraBundle:Evenement:layout.html.twig" %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">Show</li>
{% endblock %}



{% block body -%}


<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Formateur</th>
            <td>{{ entity.formateur }}</td>
        </tr>
        <tr>
            <th>Formation</th>
            <td>
                {% for formation in entity.formations %}
                {{ formation.nom | walva_label(formation.couleur) | raw }}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
            <tr>
                <th>Type  {{ 'test'|trans}}</th>
                <td>{{ ('evenement.type.'~entity.type)|trans }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ ('evenement.etat.'~entity.etat)|trans }}</td>
            </tr>
            <tr>
                <th>Min</th>
                <td>{{ entity.min }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ entity.max }}</td>
            </tr>
            <tr>
                <th>Type gestion des invités</th>
                <td>{{ ('evenement.typeGestionInvite.'~entity.typeGestionInvite) | trans }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Liste des inscriptions</h3>
    <hr/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Position</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in entity.getListeDesParticipants  %}
            {% if participant.estInscription == true %}
                <tr>
                    <td>{{participant.eleve}}</td>
                    <td>{{participant.position}}</td>
                    <td>
                    {% if participant.estEnAttente %}
                            <span class="label label-warning">
                    {% elseif participant.estPartant %}
                                    <span class="label label-success">
                    {% else %}
                                            <span class="label">
                            {% endif %}
{{ ('inscription.etat.'~participant.etat)|trans }}
                                                </span>

                                                </td>
                                                <td>{{participant.date | date('d/m/Y H:i')}}</td>
                                                <td>
                                                    <div class="btn-group">
                             {% if participant.possedeInvite == false %}
                                                            <a href="{{ path('invite_new', { 'eleve': participant.eleve.id, 'evenement':entity.id }) }}"
                                                               class="btn">Inviter une personne</a>
                                {% else %}
                                                        <a href="{{ path('invite_cancel', { 'invite':participant.invite.id }) }}"
                                                           class="btn btn-danger">Annuler invitation</a>
                                {% endif %}

                                    {% if participant.estActive == true %}
                                                    <a href="{{ path('desinscription_evenement', { 'eleve':participant.eleve.id, 'evenement':entity.id }) }}"
                                                       class="btn btn-danger">Desinscrire</a>
                                                   {% else %}
                                                <a href="{{ path('inscription_evenement', { 'eleve':participant.eleve.id, 'evenement':entity.id }) }}"
                                                   class="btn btn-success">Reinscrire</a> 

                                                   {% endif %}
                                            </div>
                                        </td>


                                        </tr>
                    {% else %}
                                        <tr>
                                            <td>{{participant}} <i class="muted"> invité par {{ participant.inscription.eleve }} </i></td>
                                            <td>{{participant.position}}</td>
                                            <td>
                    {% if participant.estEnAttente %}
                                                    <span class="label label-warning">
                    {% elseif participant.estPartant %}
                                                            <span class="label label-success">
                    {% else %}
                                                                    <span class="label">
                            {% endif %}
{{ ('inscription.etat.'~participant.etat)|trans }}
                                                                        </span>
                                                                        </td>
                                                                        <td>{{participant.date | date('d/m/Y H:i')}}</td>
                                                                        <td>
                                                                            <a href="{{ path('invite_cancel', { 'invite':participant.id }) }}"
                                                                               class="btn">Annuler</a>
                                                                        </td>

                                                                        </tr>
                    {% endif %}
        {% endfor %}
                                                                        </tbody>
                                                                        </table>


{% endblock %}

{% block container_header_right %}

                                                                        <div class="btn-group">
                                                                            <a class="btn " href="{{ path('evenement') }}">
                                                                                <i class="icon-chevron-left"></i> 
                                                                                Back to the list
                                                                            </a>
                                                                            <a class="btn " href="{{ path('evenement_edit', { 'id': entity.id }) }}">
                                                                                <i class="icon-pencil"></i> Edit</a>
                                                                            </a>

                                                                        </div>
{% endblock %}