{% extends "WalvaNatagoraBundle:Eleve:layout.html.twig" %}

{% block body -%}
    <h1>Eleve list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Gsm1</th>
                <th>Gsm2</th>
                <th>Codepostal</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('eleve_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.gsm1 }}</td>
                <td>{{ entity.gsm2 }}</td>
                <td>{{ entity.codePostal }}</td>
                <td>{{ entity.pays }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('eleve_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('eleve_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('eleve_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
