{# app/Resources/views/layout.html.twig #}


{# app/Resources/views/layout.html.twig #}
 
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
    
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Support Kot{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/supportkot.css') }}" type="text/css" />
    {% endblock %}
    </head>

    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class=""><a href="http://bootsnipp.com/"><i class="icon-home"></i> Accueil</a></li>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                        <i class="icon-calendar">
                                        </i> Evenement 
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="{{ path('evenement_new') }}"><i class="icon-plus"></i> Ajouter</a></li>
                                        <li class=""><a href="{{ path('evenement') }}"><i class="icon-list-alt"></i> Lister</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                        <i class="icon-calendar">
                                        </i> Lieu 
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="{{ path('lieu_new') }}"><i class="icon-plus"></i> Ajouter</a></li>
                                        <li class=""><a href="{{ path('lieu') }}"><i class="icon-list-alt"></i> Lister</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                        <i class="icon-calendar">
                                        </i> Formation
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="{{ path('formation_new') }}"><i class="icon-plus"></i> Ajouter</a></li>
                                        <li class=""><a href="{{ path('formation') }}"><i class="icon-list-alt"></i> Lister</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                        <i class="icon-calendar">
                                        </i> Formateur 
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="{{ path('formateur_new') }}"><i class="icon-plus"></i> Ajouter</a></li>
                                        <li class=""><a href="{{ path('formateur') }}"><i class="icon-list-alt"></i> Lister</a></li>
                                    </ul>
                                </li>
                            </ul>
                            

                        </ul>

                    </div><!--/.nav-collapse -->

                </div>
            </div>
        </div>
        <div id="header" class="">
            <div class="container">
{% block header %}
                    <h1>Titre de la page</h1>
                    <p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel du siteduzero.</p>
                {% endblock %}

                </div>
            </div>
            <div class="container-fluid" id="mainContainer">
                <div class="row-fluid">
                    {% block container %}
                        

                        <div id="content" class="span12">
                            <ul class="breadcrumb">

                        {% block breadcrumb %}
                                <li><a href="#">Formations-nature.be</a> <span class="divider">/</span></li>
                            {% endblock %}


                            </ul>
          {% block body %}
          {% endblock %}
                        </div>
                        {% endblock %}
                    </div>

                    <hr>

                    <footer>
                        <p>Natagora &AMP; Benjamin Ellis © 2013 and beyond.</p>
                    </footer>
                </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
  {% endblock %}

            </body>
        </html>