<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Natagora - Plateform des cours{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/supportkot.css') }}" type="text/css" />

    {% endblock %}
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-51358049-1', 'formations-nature.be');
            ga('send', 'pageview');

        </script>

        <!--Start of Zopim Live Chat Script-->

        <!--End of Zopim Live Chat Script-->

    </head>

    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class=""><a href="{{ path('natagora_user_profil') }}"><i class="icon-user"></i> Profil</a></li>
                            <li class=""><a href="{{ path('public_evenement') }}"><i class="icon-calendar"></i> Evenement</a></li>
                           <!-- <li class=""><a href="{{ path('formateur') }}"><i class="icon-briefcase"></i> Formateur</a></li> -->
                            <!-- <li class=""><a href="{{ path('formateur') }}"><i class="icon-book"></i> Cours</a></li>-->
                            <li class=""><a href="{{ path('claroline') }}"><i class="icon-book"></i> Claroline</a></li>
                            <li class="">
                                <a href="{{ path('public_evenements_inscrit') }}"><i class="icon-check"></i> Mes inscriptions

                                    <span class="badge badge-success"
                                          rel="popover"
                                          data-content="this is the body of the popover"
                                          data-original-title="Ce chiffre représente le nombre d'évènements à venir auxquels vous êtes inscrits."
                                          data-placement="bottom"
                                          id="inscription_valide">
{{ render(controller('WalvaNatagoraBundle:Inscription:getNombreInscriptions')) }}
                                    </span>
                                    <span class="badge badge-warning"
                                          id="inscription_en_attente"
                                          data-placement="bottom"
                                          data-original-title="Ce chiffre représente le nombre d'évènements à venir auxquels vous êtes en file d'attente.">
{{ render(controller('WalvaNatagoraBundle:Inscription:getNombreInscriptionsEnAttente')) }}
                                    </span>
                                </a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                            <li class=""><a href="{{ path('evenement') }}"><i class="icon-cog"></i> Admin</a></li>
{% endif %}




                        </ul>

                    </div><!--/.nav-collapse -->

                </div>
            </div>
        </div>
        <div id="header" class="">
            <div class="container">
                <div class="row">
                    <div class="span6">
{% block header %}

                        <h1>Titre de la page</h1>
                        <p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel du siteduzero.</p>
                {% endblock %}
                    </div>
                    <div class="span6">       

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        <br>
                            {{ render(controller('WalvaNatagoraBundle:User:getQuota')) }}
{% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid" id="mainContainer">
            <div class="row-fluid">

                    {% block container %}
{% block container_header %}
                <div id="content" class="span12">
                    <div class="row-fluid">
                        <div class="span8">
                            <ul class="breadcrumb">

                        {% block breadcrumb %}
                                <li><a href="#">Formations-nature.be</a> <span class="divider">/</span></li>
                            {% endblock %}

                            </ul>
                        </div>
                        <div class="span4">
                            <div class="pull-right">
                                        {% block container_header_right %}
                                    {% endblock %}
                            </div>
                        </div>  
                    </div>
                            {% block flas_messages %}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}

                    <div class="alert alert-{{ type }}">
            {{ flashMessage }}
                    </div>
    {% endfor %}
{% endfor %}
                            {% endblock %}


                                        {% endblock %}
          {% block body %}
          {% endblock %}
                </div>
                        {% endblock %}
            </div>

            <hr>

            <footer>
                <p>Natagora &AMP; Benjamin Ellis © 2013 and beyond.</p>
            </footer>
        </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <script type="text/javascript" >
    $(function() {
        var texte = " La règle appliquée pour le quota comptabilise les évènements auxquels vous êtes inscrits et qui n'ont pas lieu dans le mois à venir.";
        $("#inscription_valide").tooltip();
        $("#inscription_en_attente").tooltip();
        $("#quotaSortieInscrit, #quotaWeekendInscrit").tooltip({placement: 'bottom', title: 'Cette barre représente les évènements auxquels vous etes inscrits et qui participe dans le calcul du quota.\n' + texte});
        $("#quotaSortieAttente, #quotaWeekendAttente").tooltip({placement: 'bottom', title: 'Cette barre représente les évènements auxquels vous etes en attente et qui participe dans le calcul du quota.\n' + texte});
        $("#quotaSortieDispo, #quotaWeekendDispo").tooltip({placement: 'bottom', title: 'Cette barre représente le nomdre d\'évènements auxquels vous pouvez vous inscrire : votre quota restant.\n' + texte});

    });
        </script>
  {% endblock %}

    </body>
</html>