{% extends "WalvaNatagoraBundle:Evenement:public/layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="active">liste</li>
{% endblock %}


{% block body -%}
    <h1>{{ 'Liste des evenements' | trans}}</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>

                <th>#</th>
                <th>Tag </th>
                <th>Date </th>
                <th>Formateur </th>
                <th>Formations</th>
                <th>Lieu </th>
                <th>Type </th>
                <th>Etat </th>
                <th>Min </th>
                <th>Inscrits</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>

        {% for entity in entities %}

            <tr class="{% if entity.eleveEstInscrit %} success {% endif %}{% if entity.eleveEstEnListeAttente %} warning {% endif %} " >
                <td>{{entity.id}}</td>
                <td >
                {% if entity.minimumAtteint == true %}
                        <span class="label label-success"><i class="icon-ok icon-white"></i> Min atteint</span>
                        {% endif %}
                {% if entity.maximumAtteint == true %}
                        <span class="label label-important"><i class="icon-remove icon-white"></i> Max atteint</span>
                        {% endif %}

                {% if (entity.minimumAtteint == false and entity.maximumAtteint == false) %}
                        <span class="label label-info"><i class="icon-bullhorn icon-white"></i> Inscrivez-vous!</span>
                        {% endif %}
                 {% if (entity.estPourBientot == true ) %}
                        <span class="label label-warning"><i class="icon-bullhorn icon-white"></i> J-{{entity.joursRestants}}!</span>
                        {% endif %}

                    </td>
                    <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i') }}{% endif %}</td>
                    <td>{{ entity.formateur }}</td>
                    <td>
                    {% for formation in entity.formations %}
                            {{ formation.nom | walva_label(formation.couleur) | raw }}
                            {% endfor %}
                        </td>
                        <td>
                        {{ entity.lieu }}
                            </td>
                            <td>{{ ('evenement.type.'~entity.type)|trans }}</td>
                            <td>{{ ('evenement.etat.'~entity.etat)|trans }}</td>
                            <td>{{ entity.min }}</td>
                            <td>{{entity.nombreInscrits}}/{{ entity.max }}</td>
                            <td><a href="{{ path('public_evenement_show', { 'id': entity.id }) }}" class="btn">Afficher</a></td>

                        </tr>

        {% endfor %}
                    </tbody>
                </table>


    {% endblock %}

