{% extends "WalvaNatagoraBundle:Lieu:layout.html.twig" %}


{% block breadcrumb %}
{{ parent() }}
<li class="active">Show</li>
{% endblock %}

{% block body -%}
    <h1>Lieu</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
           <tr>
                <th>Rendezvous</th>
                <td>{{ entity.rendezvous }}</td>
            </tr>
            <tr>
                <th>Urlgooglemap</th>
                <td>{{ entity.urlGoogleMap | raw }}</td>
            </tr>
            
        </tbody>
    </table>


{% endblock %}
    
    
    
{% block container_header_right %}

        <div class="btn-group">
            <a class="btn " href="{{ path('lieu') }}">
                <i class="icon-chevron-left"></i> 
                Back to the list
            </a>
            <a class="btn " href="{{ path('lieu_edit', { 'id': entity.id }) }}">
                <i class="icon-pencil"></i> Edit</a>
        </a>

    </div>
{% endblock %}
