{% extends "WalvaNatagoraBundle:Formateur:layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="active">Formateur creation</li>
{% endblock %}

{% block body -%}
    <h1>Formateur creation</h1>

    <form action="{{ path('formateur_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

{% endblock %}

        
    {% block container_header_right %}
<div class="btn-group">
    <a class="btn " href="{{ path('evenement') }}">
        <i class="icon-chevron-left"></i> 
        Back to the list
    </a>
</div>
{% endblock %}